@import "reset-css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
}

.chatTextArea:hover {
  background-color: transparent;
}
.chatTextArea {
  border: none;
}

@mixin baseBox {
  border-radius: var(--semi-border-radius-medium);
  padding: 10px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  // line-height: 20px;
  font-size: small;
}

.leftGraph {
  .contentBox {
    margin-right: 60px;
    background-color: var(--semi-color-bg-3);
    margin-left: 0;

    @include baseBox();
  }
  .footerInfo {
    text-align: right;
  }
}

.rightGraph {
  .contentMain {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .semi-list-item-body {
    flex-direction: row-reverse !important;
    .semi-list-item-body-header {
      margin-right: 0;
      margin-left: 20px;
    }
  }
  .contentBox {
    margin-right: 0;
    margin-left: 60px;
    background-color: var(--semi-color-primary-disabled);
    white-space: pre-wrap;
    @include baseBox();
  }
  .footerInfo {
    text-align: right;
  }
}
